body{
    margin: 0;
    padding: 0;
    background-color:rgb(190, 190, 233);
}
.header1{
    background-color: aqua;
}

.container{
    text-align: center;
    margin-top: 22px;
}
table{
    margin: auto;
}
input{
    font-size: 30px;
    border: 2px solid green;

}
button{
    font-size: 29px;
    background-color: #3a3434;
    color: white;
    width: 84px;
    height: 65px;
    border-radius: 7px;
}
button:hover{
    background-color: rgb(236, 240, 240);
    color: black;
}
.calculator{
    display: inline-block;
    border: 2px solid indigo;
    padding: 34px;
    background-color: azure;
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3.5rem;
}

/* footer{
    display: inline-flexbox;
    background-color: rgb(255 122 80);;
    height: 90px;
    color: whitesmoke;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 45px;
} */
/* body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
  } */

 